img {
    object-fit: contain;
    height: 200px;
}

.item {
    min-width: calc(var(--line-length) * 0.3);
    max-width: calc(var(--line-length) * 0.3);
}

.match-box {
    font-size: small;
    background: #dadada;
    padding: 5px;
    width: fit-content;
    border-radius: 16px;
    margin: 10px auto auto auto;
}

.match-box p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.name  {
    background: #d77878;
    padding: 4px;
    border-radius: 12px;
}

.ingredients {
    background: #a3b3f4;
    padding: 4px;
    border-radius: 12px;
}

.stores_tags {
    background: #9fd778;
    padding: 4px;
    border-radius: 12px;
}

.brands {
    background: #41236c;
    padding: 4px;
    border-radius: 12px;
}

.length {
    --line-length: 50rem;
}

.item>a {
    text-decoration: none;
    color: black;
}

.item>a:hover {
    text-decoration: none;
}

.match-box>p {
    text-align: center;
}

.tooltip {
    display: none;
    position: absolute;
    opacity: 0;
    width: 40%;
    margin-top: 10px !important;
    padding: 2px;
}

#tooltip-checkbox {
    display: none;
}

#tooltip-checkbox:checked + label > .tooltip {
    display: block;
    opacity: 1;
}

h1>a {
    text-decoration: none;
    color: black;
}

h1>a:hover {
    text-decoration: none;
}

header {
    padding-bottom: 0 !important;
}

input {
    width: 50%;
}

select {
    height: fit-content;
    margin-top: 10px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}