<!DOCTYPE html>
<html lang="de" style="--line-length: 60rem">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <link rel="stylesheet" href="http://localhost:3000/css">
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js" integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp" crossorigin="anonymous"></script>
    <title>SomeApi</title>
</head>
<body>
<header class="site-header">
    <div style="display: flex;justify-content: space-between;">
        <div>
            <h1><a href="home.html">VeganFoodBase</a></h1>
            <nav class="">
                <p class="tool-bar">
                    <a href="/{{ locale.to_string() }}">Startpage</a>
                </p>
            </nav>
        </div>
        <select id="language" name="language">
            <option value="de"
                    {% if locale == Locales::DE %}
                    selected
                    {% endif %}
            >de</option>
            <option value="en"
                    {% if locale == Locales::EN %}
                    selected
                    {% endif %}
            >en</option>
        </select>
    </div>
</header>
<main>
    <div>
        <input type="text" name="search_text"
               hx-get="/trigger_delay"
               hx-trigger="input changed delay:200ms"
               hx-target="#search_results"
               hx-include="#language"
               placeholder="{{ search }}">
    </div>
    <div>
        <input id="tooltip-checkbox" type="checkbox">
        <label class="box ok" style="width: fit-content" for="tooltip-checkbox">{{ search_explanation_label }}<span class="tooltip box">{{ search_explanation }}</span></label>
    </div>
    <div id="search_results">

    </div>
</main>
</body>
</html>