<!DOCTYPE html>
<html lang="de" style="--line-length: 60rem">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <link rel="stylesheet" href="http://localhost:3000/css">
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js" integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp" crossorigin="anonymous"></script>
    <title>SomeApi</title>
</head>
<body>
<main>
    <div>
        <h1>
            {% match name %}
                {% when Some with (val) %}
                    {{ val }}
                {% when None %}
                    dann nicht
            {% endmatch %}
        </h1>
    </div>
    <div class="f-row">
        <div>
            {% match front_image %}
                {% when Some with (val) %}
                    <img src="{{ val }}" alt="image">
                {% when None %}
                    <img src="https://img.freepik.com/free-vector/illustration-gallery-icon_53876-27002.jpg" alt="image">
            {% endmatch %}
        </div>
        <div>
            <p>
                {% match ingredients %}
                    {% when Some with (val) %}
                        {{ val }}
                    {% when None %}
                        dann nicht
                {% endmatch %}
            </p>
        </div>
        <div>
            <table>
                <tr>
                    <th>
                        Nährwerte
                    </th>
                    <th>
                        pro 100g
                    </th>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>